@model CategoryVM
﻿﻿
@{
	ViewData["Title"] = "Create";
}

<h1>Edit</h1>
<hr>


<form asp-action="Edit">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label asp-for="ParentId" class="control-label"></label>
				<select asp-for="ParentId" class="formbold-form-select form-control" asp-items="@(new SelectList(Model.Categories,nameof(Model.Id),nameof(Model.Name)))">
					<option>Please select one </option>
				</select>
				<span asp-validation-for="ParentId" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label asp-for="Level" class="control-label"></label>
				<input asp-for="Level" class="form-control" />
				<span asp-validation-for="Level" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label asp-for="BranchId" class="control-label"></label>
				<select class="formbold-form-select form-control" asp-for="BranchId" asp-items="@(new SelectList(Model.Branchs,nameof(Model.Id),nameof(Model.Name)))">
					<option>Please select one </option>
				</select>
				<span asp-validation-for="BranchId" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label asp-for="EmployeeId" class="formbold-form-label">
					Employee
				</label>
				<select asp-for="EmployeeId" class="formbold-form-select form-control" asp-items="@(new SelectList(Model.Employees,nameof(Model.Id),nameof(Model.Name)))">
					<option>Please select one</option>
				</select>
				<span asp-validation-for="EmployeeId" class="text-danger"></span>
			</div>
		</div>

	</div>
	<div class="row mt-3 ">
		<div class="col-md-3">
			<a class="btn btn-primary" asp-action="Index">Back to List</a>
		</div>
		<div class="col-md-3 d-flex justify-content-end">
			<div class="form-group">

				<input type="submit" value="Edit" class="btn btn-primary" />
			</div>
		</div>
	</div>

</form>