@model List<ProductVM>

<div class="d-flex justify-content-center py-5" style="flex-wrap:wrap;">
    @foreach (var item in Model)
    {
        <div class="card col-3">
            <div class="card-body">
                <img width="100%" height="300px" src="@Url.Content($"~/{item.Thumbnail}")" alt="Alternate Text" />
                <h5 class="card-title">@item.Name</h5>
                <a asp-controller="Products" asp-action="Details" asp-route-Id="@item.Id" class="card-link">Details</a>
            </div>
        </div>
    }

</div>