﻿@{
    ViewData["Title"] = "ForgetPassword";
    Layout = null;
}
@model ForgotPasswordVM

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<div class="container">
    <div class="row align-items-center h-100 ">

        <div class="col-4 offset-4">

            @if (ViewBag.ErrorMessage != null)
            {
                <p class="alert alert-danger">
                    @ViewBag.ErrorMessage
                </p>
            }
            @if (ViewBag.SuccessMessage != null)
            {
                <p class="alert alert-info">
                    @ViewBag.SuccessMessage
                </p>
            }
            <form asp-controller="Account" asp-action="ForgotPassword" method="post">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input asp-for="Email" class="form-control" id="exampleInputEmail1" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>

                <div class="float-end">
                    <button type="submit" class="btn btn-primary">Send</button>

                </div>

            </form>
        </div>


    </div>

</div>