<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
		<div class="sidebar-brand-icon rotate-n-15">
			<i class="fas fa-laugh-wink"></i>
		</div>
		<div class="sidebar-brand-text mx-3">OMTS Admin</div>
	</a>

	<!-- Divider -->
	<hr class="sidebar-divider my-0">
	<!-- Divider -->
	<hr class="sidebar-divider">
	<!-- Nav Item - Pages Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
		   aria-expanded="true" aria-controls="collapsePages">
			<i class="fas fa-fw fa-folder"></i>
			<span>Pages</span>
		</a>
		<div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<ul class="navbar-nav flex-grow-1">
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="Admin" asp-controller="Merchants" asp-action="Index">Merhcants</a>
					</li>	
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="Admin" asp-controller="Branchs" asp-action="Index">Branchs</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="Admin" asp-controller="Categories" asp-action="Index">Category</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="Admin" asp-controller="Customers" asp-action="Index">Customers</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="Admin" asp-controller="Loans" asp-action="Index">Loans</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="Admin" asp-controller="LoanItems" asp-action="Index">Loan items</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="Admin" asp-controller="LoanDetails" asp-action="Index">Loan Details</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="Admin" asp-controller="Roles" asp-action="Index">Roles</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="Admin" asp-controller="Users" asp-action="Index">Users</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="Admin" asp-controller="Employees" asp-action="Index">Employees</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="Admin" asp-controller="Products" asp-action="Index">Products</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="Admin" asp-controller="Payments" asp-action="Index">Payments</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="Admin" asp-controller="Sliders" asp-action="Index">Payments</a>
					</li>
				</ul>

			</div>
		</div>
	</li>
	<!-- Nav Item - Pages Collapse Menu -->
	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block">

	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>



</ul>
